<form  (submit)="onSubmit()">

    <div id="loginFormContent">
      <input id="email" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="p-inputtext-md" placeholder="Email..." pInputText/>
      <br /><br />
      <input id="password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="p-inputtext-md" placeholder="Password..." pInputText/>
      <br /><br />
      <br /><br />

      <p-button class="button" type="submit">Submit</p-button>
      <br /><br />
      <p-button class="button" type="button" (click)="onCancelOperation()">Cancel</p-button>
    </div>
  
  </form>