<form [formGroup]="lecturerForm" (submit)="onSubmit()">

    <div id="lecturerFormContent">
      <input id="name" formControlName="name" type="text" class="p-inputtext-md" placeholder="Name..." pInputText/>
      <br /><br />
      <input id="surname" formControlName="surname" type="text" class="p-inputtext-md" placeholder="Surname..." pInputText/>
      <br /><br />
      <p-button class="button" type="submit">Submit</p-button>
      <br /><br />
      <p-button class="button" type="button" (click)="onCancelOperation()">Cancel</p-button>
    </div>
  
  </form>